block vars
-let title = "Homepage"

include src/_includes/header

.container
 img(class="img-fluid mx-auto mt-3 mt-lg-5" src= "https://res.cloudinary.com/dvwsiufhl/image/upload/f_auto,q_auto,h_800/v1602146124/samples/imagecon-group.jpg")
 
 include src/_includes/footer

    